Fazer as transformações que serão necessário fazer na parte de ETL do banco de dados que passa pelo airflow e é carregado no nosso banco de dados.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dados_clientes = r"C:\Users\heloi\OneDrive\Desktop\Projeto - Inlytics\Dataset\clientes_info_limpo.csv"
dados_vendas = r"C:\Users\heloi\OneDrive\Desktop\Projeto - Inlytics\Dataset\vendas_info_limpo.csv"

df_clientes = pd.read_csv(dados_clientes)
df_vendas = pd.read_csv(dados_vendas)

In [4]:
df_clientes.head()

,CustomerID,Churn,Tenure,PreferredLoginDevice,PreferredPaymentMode,Gender,NumberOfDeviceRegistered,SatisfactionScore,MaritalStatus,Complain,CouponUsed
0,17850.0,1,4.0,Mobile Phone,Debit Card,Female,3.0,2,Single,1,1.0
1,13047.0,1,NaN,Phone,UPI,Male,4.0,3,Single,1,0.0
2,12583.0,1,NaN,Phone,Debit Card,Male,4.0,3,Single,1,0.0
3,13748.0,1,0.0,Phone,Debit Card,Male,4.0,589314,Single,0,0.0
4,15100.0,1,0.0,Phone,CC,Male,3.0,5,Single,0,1.0